<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>C&H Controls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

<header class="site-header">
    <div class="header-inner">
        <h1>C&amp;H Controls</h1>
        <p>Electrical &amp; Controls Engineering</p>
    </div>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    <p>
        C&amp;H Controls<br>
        Electrical &amp; Controls Engineering<br>
        Industrial Control &amp; Instrumentation
    </p>
</footer>


</body>
</html>
